// bower:less
// endbower

@import 'custom-icofonts.css';

body {
    background-image: url('/images/bg-pattern.png');
    font-family: Signika, Arial, sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.menu {
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 1000;

    .item {
        position: absolute;
        padding: 29px 27px;
        border-right: 1px dashed #858585;
        border-bottom: 1px dashed #464646;
        width: 5px;
        outline: none;
        transition: width 0.3s;


        &.add-images {
            top: 60px * 0;
            border-top-right-radius: 10px;
            border-top: 1px dashed #858585;

            .tooltip {
                width: 70px;
            }
        }

        &.options {
            top: 60px * 1;
        }

        &.resize {
            top: 60px * 2;

            .tooltip {
                width: 105px;
            }
        }

        &.about {
            top: 60px * 3;
            border-bottom-right-radius: 10px;
            border-bottom: 1px dashed #858585;
        }

        &.title-active {
            width: 370px;
            padding-top: 19px;
            padding-bottom: 19px;
            background-image: url('/images/bg-pattern.png');
            border: 1px solid #858585;
            border-left: 0;
            border-top-right-radius: 10px;
            opacity: 0.8;
        }

        &.about.title-active {
            border-bottom-right-radius: 0;
        }

        &.title-active .title {
            //reserve title position with display block
            //but keep it hidden until icon move to left
            display: block;
            visibility: hidden;
            text-align: center;
            color: white;
        }

        &.title-active .title {
            visibility: visible;
            text-align: center;
        }

        &.title-active .icon {
            left: 100%;
            margin-left: -40px;
            color: white;
        }

        &.submenu-active .submenu {
            height: 130px;
            visibility: visible;
        }



        .submenu {
            visibility: hidden;
            position: absolute;
            background-image: url('/images/bg-pattern.png');
            top: 100%;
            right: -1px;
            width: 330px;
            height: 0;
            padding: 8px;
            background-color: white;
            color: white;
            border: 1px solid #858585;
            border-top: 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: height 0.3s;
        }

        .title {
            display: none;
            color: white;
        }

        .icon {
            position: absolute;
            top: 15px;
            left: 10px;
            font-size: 24px;
            color: #CECECE;
            cursor: pointer;
            //make left transition faster than title width transition
            //so icon move to faster to left & avoid overlapping with title
            transition: transform 0.5s, left 0.2s;
            backface-visibility: hidden;

            .tooltip {
                left: -10000px;
            }

            &:hover {
                color: white;

                .tooltip {
                    left: 50px;
                    top: -16px;
                    opacity: 0.85;
                }
            }
        }
    }

    &.no-images {
        .item.options, .item.resize {
            display: none;
        }

        .item.about {
            top: 60px * 1;
            border-bottom-right-radius: 10px;
            border-bottom: 1px dashed #858585;
        }
    }

}

.preview {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -264px;
    width: 485px;
    height: 74px;
    padding: 18px 20px 25px 20px;
    background-color: black;
    color: #CECECE;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    opacity: 0.85;
    transition: bottom 0.3s;

    &.hidden {
        bottom: -117px;
    }

    &:before {
        content: '';
        position: absolute;
        left: -41px;
        bottom: -2px;
        width: 42px;
        height: 42px;
        background-image: radial-gradient(circle at 0% 0%, rgba(0,0,0,0) 40px, black 42px);
    }

    &:after {
        content: '';
        position: absolute;
        right: -41px;
        bottom: -2px;
        width: 42px;
        height: 42px;
        background-image: radial-gradient(circle at 100% 0%, rgba(0,0,0,0) 40px, black 42px);
    }

    .toggle-wrap {
        position: absolute;
        left: 50%;
        top: -25px;
        margin-left: -18px;
        width: 22px;
        height: 14px;
        background: black;
        padding: 6px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        cursor: pointer;

        [class="icon-off"]:hover {
            color: white;
        }
    }

    .nav-icon() {
        display: block;
        position: absolute;
        top: 43px;
        cursor: pointer;
    }

    span[class="icon-left-circle"] {
        .nav-icon();
        left: 2px;

        &:hover {
            color: white;
        }
    }

    span[class="icon-right-circle"] {
        .nav-icon();
        right: 2px;

        &:hover {
            color: white;
        }
    }

    .img-wrap {
        display: inline-block;
        position: relative;
        width: 110px;
        height: 76;

        img {
            display: inline-block;
            width: 100px;
            margin: 0 4px;
            padding: 4px;
            border: 1px solid transparent;
            cursor: pointer;
        }

        .dimensions, .name, .icon-cancel {
            position: absolute;
            font-size: 12px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .dimensions {
            bottom: 100%;
            margin-top: -12px;
            width: 110px;
            text-align: center;
        }

        .name {
            top: 100%;
            margin-bottom: -12px;
            width: 110px;
            text-align: center;
        }

        .icon-cancel {
            right: 0;
            bottom: 100%;
            margin-top: -12px;
            color: #C00;
            cursor: pointer;
        }

        &:hover {
            img {
                border: 1px dashed #858585;
                border-radius: 4px;
            }

            .dimensions, .name, .icon-cancel {
                opacity: 1;
            }
        }
    }
}

.tooltip {
    position: absolute;
    border: 10px solid transparent;
    z-index: 1000;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;

    .content {
        display: block;
        border-radius: 10px;
        padding: 10px 5px 5px 5px;
        min-height: 20px;
        min-width: 30px;
        background-color: #ffffff;
        color: #191919;
        box-shadow: 0 0 10px #000000;


        &:before {
            content: "";
            position: absolute;
            border: 8px solid;
            width: 0px;
            height: 0px;
            z-index: 999;
        }

        &.right:before {
            top: 10px;
            right:100%;
            border-color: transparent #fff transparent transparent;
        }
    }
}

.animate-spin {
    animation: spin 2s infinite linear;
    display: inline-block;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
