// bower:less
// endbower

//@import 'custom-icofonts.css';

body {
    background-image: url('/images/bg-pattern.png');
    font-family: Signika, Arial, sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.menu {
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 100;

    &.no-images {
        .item.options, .item.resize {
            display: none;
        }

        .item.about {
            top: 60px * 1;
        }
    }

    .item {
        position: absolute;
        padding: 29px 27px;
        width: 1px;
        //to ensure all items have same height even
        //for ones with no top border for easier placing
        border-top: 1px dashed transparent;
        border-right: 1px dashed #858585;
        border-bottom: 1px dashed #464646;
        background-image: url('/images/bg-pattern.png');
        opacity: 0.85;
        outline: none;
        transition: width 0.3s;


        &.add-images {
            top: 60px * 0;
            border-top-right-radius: 10px;
            border-top: 1px dashed #858585;

            .tooltip {
                width: 70px;
            }
        }

        &.options {
            top: 60px * 1;
        }

        &.resize {
            top: 60px * 2;

            .tooltip {
                width: 100px;
            }
        }

        &.about {
            top: 60px * 3;
            border-bottom-right-radius: 10px;
            border-bottom: 1px dashed #858585;

            .submenu {
                text-align: center;

                a {
                    color: #b1b1b1;
                    font-style: italic;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                table {
                    display: inline-block;
                }
            }
        }

        &.title-active {
            width: 390px;
            padding-top: 19px;
            padding-bottom: 19px;
            background-image: url('/images/bg-pattern.png');
            border: 1px solid #858585;
            border-left: 0;
            border-top-right-radius: 10px;
        }

        &.about.title-active {
            border-bottom-right-radius: 0;
        }

        &.title-active .title {
            //reserve title position with display block
            //but keep it hidden until icon move to left
            display: block;
            visibility: hidden;
            text-align: center;
            color: white;
        }

        &.title-active .title {
            visibility: visible;
            text-align: center;
        }

        &.title-active .icon {
            left: 100%;
            margin-left: -40px;
            color: white;
        }

        &.submenu-active .submenu {
            visibility: visible;
            height: 175px;
        }


        .submenu {
            visibility: hidden;
            position: absolute;
            background-image: url('/images/bg-pattern.png');
            top: 100%;
            right: -1px;
            width: 370px;
            height: 0;
            overflow: hidden;
            background-color: white;
            color: white;
            border: 1px solid #858585;
            border-top: 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: height 0.3s, visibility 0.3s;

            .content {
                padding: 8px;
            }
        }

        .title {
            display: none;
            color: white;
        }

        .icon {
            position: absolute;
            top: 15px;
            left: 10px;
            font-size: 24px;
            color: #CECECE;
            cursor: pointer;

            .tooltip {
                //font-family: arial, sans-serif;
                left: -1000px;
                top: -10px;
                opacity: 0;
                transition: opacity 0.3s;
                //hack to force hardware acceleration to avoid
                //tooltip shaking when hovering
                //transform: translateZ(0);
            }

            &:hover {
                color: white;

                .tooltip {
                    left: 50px;
                    opacity: 0.9;
                }
            }
        }
    }
}

.control-group {
    margin-bottom: 20px;

    &.disabled {
        color: gray;
    }

     > label {
        display: inline-block;
        width: 90px;
        padding-right: 20px;
        text-align: right;
     }

    .controls {
        display: inline-block;

        > label {
            margin-right: 20px;
        }
    }
}

.subcontrol-group {
    margin-left: 114px;
    margin-top: 20px;

    label {
        padding-right: 10px;
    }
}

.control-group, .subcontrol-group {
    [type="text"] {
        width: 50px;
        color: black;
        text-align: center;
    }
}

.preview {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -264px;
    width: 475px;
    height: 115px;
    padding: 0 25px;
    background-color: black;
    color: #CECECE;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    opacity: 0.85;
    transition: bottom 0.3s;

    &.hidden {
        bottom: -115px;
    }

    &:before {
        content: '';
        position: absolute;
        left: -41px;
        bottom: -2px;
        width: 42px;
        height: 42px;
        background-image: radial-gradient(circle at 0% 0%, rgba(0,0,0,0) 40px, black 42px);
    }

    &:after {
        content: '';
        position: absolute;
        right: -41px;
        bottom: -2px;
        width: 42px;
        height: 42px;
        background-image: radial-gradient(circle at 100% 0%, rgba(0,0,0,0) 40px, black 42px);
    }

    .toggle-wrap {
        position: absolute;
        left: 50%;
        top: -25px;
        margin-left: -18px;
        width: 22px;
        height: 14px;
        background: black;
        padding: 6px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        cursor: pointer;

        [class="icon-off"]:hover {
            color: white;
        }
    }



    .thumbs {
        width: 100%;
        height: 100%;
        padding: 18px 0 25px;
        overflow: hidden;

        .slide-panel {
            display: inline-block;
            position: relative;
            left: 0; //to avoid getting 'auto' when querying for it
            transition: left 0.8s;
        }
    }

    .img-wrap {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 70px;
        padding: 4px;
        margin: 0 4px;
        vertical-align: top;
        border: 1px solid transparent;
        cursor: pointer;

        .dimensions, .name, .icon-cancel {
            position: absolute;
            font-size: 12px;
            opacity: 0;
        }

        .dimensions {
            bottom: 100%;
            margin-top: -14px;
            width: 110px;
            height: 14px;
            overflow: hidden;
            text-align: center;
        }

        .name {
            top: 100%;
            margin-bottom: -14px;
            width: 110px;
            height: 14px;
            overflow: hidden;
            text-align: center;
        }

        .icon-cancel {
            right: 0;
            bottom: 100%;
            margin-top: -12px;
            color: #C00;
            cursor: pointer;
        }

        &.hover {
            border: 1px dashed #858585;
            border-radius: 4px;

            .dimensions, .name, .icon-cancel {
                opacity: 1;
            }
        }

        &.active {
            border: 1px solid #858585;
            border-radius: 4px;

            .dimensions, .name, .icon-cancel {
                opacity: 1;
            }
        }
    }
}

.nav-icon() {
    display: none;
    position: absolute;
    top: 43px;
    cursor: pointer;
}

#preview-back {
    .nav-icon();
    left: 2px;

    &:hover {
        color: white;
    }
}

#preview-next {
    .nav-icon();
    right: 2px;

    &:hover {
        color: white;
    }
}


.tooltip {
    position: absolute;
    border: 10px solid transparent;
    z-index: 1000;

    .content {
        display: block;
        border-radius: 10px;
        padding: 10px 5px 4px 5px;
        min-height: 20px;
        min-width: 30px;
        background-color: #ffffff;
        color: #191919;
        font-size: 12px;
        box-shadow: 0 0 10px #000000;
        backface-visibility: hidden;


        &:before {
            content: "";
            position: absolute;
            border: 8px solid;
            width: 0px;
            height: 0px;
            z-index: 999;
        }

        &.right:before {
            top: 8px;
            right:100%;
            margin-right: -1px;
            border-color: transparent #fff transparent transparent;
        }
    }
}


.hidden {
    display: none;
}

#view {
    text-align: center;
}

#width {
    margin-right: 20px;
}


.animate-spin {
    animation: spin 2s infinite linear;
    display: inline-block;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
